<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div>
    <form action="/" method="post">

      <label for="">
        <h3>Category:</h3>
      </label>
      <select id="" name="category">
        <option value="Type of service">Type of Service</option>
        <option value="Type of paper">Type of Paper</option>
        <option value="Subject">Subject</option>
        <option value="Academic Level">Academic Level</option>
      </select>
      <br>

      <label for="">
        <h3>Title:</h3>
      </label>
      <input type="text" name="title" id="bookInput">
      <br>

      <label for="">
        <h3>Price:</h3>
      </label>
      <input type="number" name="price" id="">
      <br><br>

      <button class="btn" type="submit">submit</button>

    </form>
  </div>
</body>

</html>